In [7]:
import pandas as pd

In [8]:
random_par = pd.read_csv("download_paragraphs.csv", sep=",")

In [9]:
random_par

                                                  text
0    James was leaning against the empty guard desk...
1    There was no clock on the nightstand between t...
2    Finley should’ve been happier — he should’ve b...
3    Inside a Belizean cave, you wade deeper into g...
4    Sophie had forgotten him by then. Not complete...
..                                                 ...
295  Three hours after he shot him, he had a breakf...
296  The ribbons flapped in an unexpected chill bre...
297                     I’m dead. | © Maria Nestorides
298  The Summer Holidays were over. From his vantag...
299  As a life long gardener Patrick knows there’s ...

[300 rows x 1 columns]

In [10]:
random_par['text_new'] = random_par['text'].str.split('|').str[0]
random_par

,text,text_new
0,James was leaning against the empty guard desk...,James was leaning against the empty guard desk...
1,There was no clock on the nightstand between t...,There was no clock on the nightstand between t...
2,Finley should’ve been happier — he should’ve b...,Finley should’ve been happier — he should’ve b...
3,"Inside a Belizean cave, you wade deeper into g...","Inside a Belizean cave, you wade deeper into g..."
4,Sophie had forgotten him by then. Not complete...,Sophie had forgotten him by then. Not complete...
...,...,...
295,"Three hours after he shot him, he had a breakf...","Three hours after he shot him, he had a breakf..."
296,The ribbons flapped in an unexpected chill bre...,The ribbons flapped in an unexpected chill bre...
297,I’m dead. | © Maria Nestorides,I’m dead.
298,The Summer Holidays were over. From his vantag...,The Summer Holidays were over. From his vantag...
299,As a life long gardener Patrick knows there’s ...,As a life long gardener Patrick knows there’s ...

In [ ]:
## add all other paragraph text preprocessing here before sending to model

In [ ]:
random_par['text_new'].to_csv("tidy_paragraphs.csv", index=False)